services:
  ip.8080.li:
    container_name: ip.8080.li
    image: ip.8080.li:latest
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "3000:3000"
    restart: unless-stopped
    env_file:
      - .env
    volumes:
      - ./.data/db:/app/.data/db:ro

  ip.8080.li-updater:
    container_name: ip.8080.li-updater
    image: ghcr.io/maxmind/geoipupdate
    restart: unless-stopped
    env_file:
      - .env
    volumes:
      - ./.data/db:/usr/share/GeoIP

networks:
  default:
      name: cloudflare
      external: true